body{
    padding: 0;
    margin: 0;
    height:100%;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;

    background-color:white;
}

h1{
    width: 70%;
    float:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20%;;
    color:darkred;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

p{
    color:white;
}

.container {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
align-items: center;
}

nav {
    display: flex;
    width: 60%;
    justify-content: end;
    border-bottom: 3px solid rgb(108, 9, 9);
    margin-bottom: 20px;
    
}

nav > ul {
    padding: 0;
    display: flex;
    margin-right: 20px;
}

nav> ul > li {
    list-style: none;
    padding-left: 10px;
    color:darkred;
    font-weight: bold;
    font-size: 20px;
}

nav > ul> li> a {
    color:firebrick;
    text-decoration: none;
}

.content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px;
    justify-content: space-between;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 400px;
    background-color: #EBA2A2;
    margin-bottom: 10px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card > img {
    height: 300px;
    width: 250px;
    border-radius: 8px;
}

.card>.button {
    display:flex;
    justify-content:center;
    align-items:normal;
    width: 200px;
    height: 40px;
    background-color:antiquewhite;
    border-radius: 8px;
}

.card>.button>a{
    color:black;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

.card2 > img{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    margin-left: 70%;
    margin-bottom: 20%;
}

.card2{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 45%;
    height: 150px;
    background-color: #EBA2A2;
    margin-bottom: 10px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px;
    justify-content: space-between;
}

.container {
    text-align: center;
    padding-top: 80px;
}

button {
    padding: 10px 20px;
    background-color: rgb(207, 130, 185); /* cor do botão no modo claro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80%;
}

body.dark-mode {
    background-color: #121212; /* cor de fundo no modo escuro */
}

body.dark-mode > h1{
    color: #ffd3d3; /* cor do texto no modo escuro */
}

.dark-mode a{
    color: #ffd3d3;
    text-decoration: none;
}

.dark-mode a:hover{
    color: #ffd3d3;
    text-decoration: none;
}

.dark-mode button {
    background-color: #555; /* cor do botão no modo escuro */
}

.dark-mode .card{
    background-color: #555; /* cor do botão no modo escuro */
}